header ul {
    text-align: right;
    font-size: 12px;
}

header ul a {
    text-decoration: none;
    color: black;
}

header li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 15px;
}



.login {
    background-color: #4583ec;
    padding: 8px 10px; 

}

.login a {
    color: white;
}

/* Body Area */

.search {
    text-align: center;
}

.search img {
    margin-top: 180px;
    height: auto;
    width: 400px;
}
 

.search #keywords {
    
    width: 500px;
    height: 40px;
}